@import url('http://fonts.googleapis.com/css?family=Quicksand');

/*Orange: #AA4D00*/
/*Grey: #AAA9A9*/

body {
    /*background: #eee;*/
    /*text-align: center;*/
    padding: 0 25px;
    font-family: Quicksand;
}

#main {
    width: 100%;
    margin: auto;
    text-align: left;
    background: white;
    padding: 20px 20px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 6px;

}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 10px;
    border-radius: 6px;

}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 0px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}
.long {
    width: 100%;
}

.chat {
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 5px;
    /*background-color: #00874C; opacity: 0.5;*/
    background-color: rgba(0, 135, 76,0.5);
    width: 100%;
    color: #333;
    float: left;
    font-family: Quicksand;
    font-size: 20px;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: rgba(0, 135, 76,0.2);
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}
.more-space {
    min-height: 400px;
}

html {
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
    float: right;
}

/* CSS declarations go here */

html, body {
    /*background-color: #333;*/
    background-image: url("connect.png");
    background-repeat: repeat;
    color: #333;
}
/*.invert {-webkit-filter: invert(90%);}*/


.title {
    font-size: 70px;
    color: #333;
}
.textarea {
    width: 100%;
    color: #333;
    border-radius: 6px;
}
.top {
    background-color: #fff;
    margin: -30px;
    padding-top: 30px;
}
.messages {
    font-size: 20px;
    color: orange;  
}
.logo{
    width: 100%;
    padding: 5px; 
}
.question {
    color: orange;
}
.q-box:hover{
    /*background-color: rgba(0, 135, 76,0.5);*/
}
/*.first-question:active{
    -webkit-animation: fadeout 1s;
    visibility: hidden;
    }*/

    .buffered {
        min-height: 200px;
    }
    .globe {
        position: relative;
        padding-top: 20px;
/*    top: 10%;
left: 10%;*/
width: 80px;
height: 80px;
/*margin:-60px 0 0 -60px;*/
-webkit-animation:spin 4s linear infinite;
-moz-animation:spin 4s linear infinite;
animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.clock {
    padding-left: 20%;
    padding-top: 5%;
    /*width: 50%;*/
}

.fader{
 -webkit-animation: fadein 4s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
.login-link-and-dropdown-list {
    padding-top: 20px;
    font-size: 30px;
}

/*ANI*/

#container{
    overflow:hidden;
    height:48px;
}
.loading{
    -webkit-animation: move;
    position:relative;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-delay: 1s;
}
h3{ height:48px;margin:0;padding:0}
@-webkit-keyframes move {
    0% { margin-top: 0em; }
    25% { margin-top: -48px; }
    50% {margin-top: -96px;}
    75% {margin-top: -144px; }
    100% {margin-top: 0;}
}

h3{
    -webkit-animation: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 3;
}

@-webkit-keyframes fade {
    0% { opacity: 1; filter:alpha(opacity=100); }
    50% { opacity: 0; filter:alpha(opacity=0); }
    100% { opacity: 1; filter:alpha(opacity=100); }
}